(
    name: "",
    blue: {
        "red": 0.035,
        "green": 0.306,
        "blue": 0.745,
        "alpha": 1.0,
    },
    red: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    green: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    yellow: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    gray_1: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    gray_2: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    gray_3: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_1: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_2: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_3: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_4: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_5: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_6: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_7: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_8: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_9: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    neutral_10: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_warm_grey: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_orange: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_yellow: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_blue: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_purple: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_pink: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    ext_indigo: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_warm_grey: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_orange: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_yellow: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_purple: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_pink: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
    accent_indigo: {
        "red": 0.0,
        "green": 0.0,
        "blue": 0.0,
        "alpha": 1.0,
    },
)